body{
    margin:0px;
    padding:0px;
}

.bg-container {
    background-color:#f9fbfe;
    height:100vh;
}

.todo-heading {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align:center;
    font-size:46px;
    margin-top:20px;
    margin-bottom:20px;
}

.user-input {
    background-color:#ffffff;
    border-color:#e4e7eb;
    padding:10px;
    margin-top:10px;
    border-style:solid;
    border-width:1px;
    width:90%;
    border-radius:10px;
}

.create-heading {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:40px;
    font-weight: 700;
}

.todo-heading-span-subpart {
    font-size:40px;
    font-weight:500;
    font-family: 'Roboto', sans-serif;
}

.button {
    background-color:#4c63b6;
    margin-bottom:20px;
    color:#ffffff;
    border-radius:7px;
    border-width:0;
    font-size:20px;
    font-family: 'Roboto', sans-serif;
    margin-top:20px;
    margin-bottom:50px;
    padding-left:20px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom:5px;

}

.todo-items-container {
    margin:0px;
    padding:0px;
}

.checkbox-input {
    height:20px;
    width:20px;
    margin-top:12px;
    margin-bottom:12px;
}