.bg-container {
    background-color:#f9fbfe;
    height:100vh;
}

.todo-heading {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align:center;
    font-size:46px;
    margin-top:20px;
    margin-bottom:20px;
}

.user-input {
    background-color:#ffffff;
    border-color:#e4e7eb;
    padding:10px;
    margin-top:10px;
    border-style:solid;
    border-width:1px;
    width:90%;
    border-radius:10px;
}

.create-heading {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:40px;
    font-weight: 700;
}

.todo-heading-span-subpart {
    font-size:40px;
    font-weight:500;
    font-family: 'Roboto', sans-serif;
}

.button {
    background-color:#4c63b6;
    margin-bottom:20px;
    color:#ffffff;
    border-radius:7px;
    border-width:0;
    font-size:20px;
    font-family: 'Roboto', sans-serif;
    margin-top:20px;
    margin-bottom:50px;
    padding-left:20px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom:5px;

}

.checkbox-input {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-right: 12px;

}

.label-container {
    background-color: #e6f6ff;
    width: 85%;
    border-style: solid;
    border-width: 5px;
    border-color: #096f92;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
    margin-bottom:12px;
}

.checkbox-label {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    width:100%;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.delete-icon-container {
    margin-top:3px;
}